.adduser{
    border: 3px solid blueviolet;
    background: linear-gradient(rgb(1, 60, 132), rgb(28, 34, 35), rgb(0, 26, 128));
    margin: 50px;
    padding: 50px;
}
.title-head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(16, 90, 155);
}
.add-user-form{
    display: flex;
    align-items: center;
}
.add-user-form input,textarea{
    width: 300px;
    font-family: 'Poppins',sans-serif;
    height: max-content;
    border: none;
    border-radius: 5px;
    outline: 1px solid aqua;
    background: none;
    color: aqua;
    margin: 10px; 
}
.add-user-form button{
    border: none;
    background: linear-gradient(rgb(1, 60, 132), rgb(28, 34, 35), rgb(0, 26, 128));
    color: aqua;
    outline: 1px solid aqua;
}
p{
   color: red; 
}